<p id="notice"><%= notice %></p>

<p>
<strong><%= @team.name %></strong>
</p>
<hr/>
<p>
  <strong>团队成员:</strong>
</p>
  <% @team.users.all.each do |user| %>
    <ul>
      <td><%= user.email %></td>
    </ul>
  <% end %>

<hr/>

<p>
  <strong>团队项目:</strong>
<%= link_to ' 新建', new_project_path %>
  
  <% @team.projects.all.each do |project| %>
    <ul>
      <td>
          <%= link_to project.title, project_path(project) %>
      </td>
    </ul>
  <% end %>
  
</p>

<hr/>
