<h3>Project List</h3>
<%= link_to 'New project', new_project_path %>
</br>
<section>
<% @projects.each do |project| %>
  <tr>
    <h4><%= project.title %></h4>
      <%= project.describe %>
  </tr>
  <tr> 
      <%= link_to 'Show', project_path(project) %> 
      <%= link_to 'Edit', edit_project_path(project) %>
  </tr>
<% end %>
</section>

<section>
</section>
