<aside>
  <h3>Title: <%= @project.title %></h3>
  <p>Describe: <%= @project.describe %></p>
</aside>

<div>
  <h3>Todo lists</h3>
  <%= render @project.todos %>
</div>

<section>
<h4>Add a Todo:</h4>
<%= render "todos/form" %>

<%= link_to 'Back', projects_path %>
| <%= link_to 'Edit', edit_project_path(@project) %>

<br/>
<%= link_to 'Delete This Project', project_path(@project), 
            method: :delete, data: { confirm: 'Are you sure?' } %> 
</section>
