<h4>New Todo</h4>
<%= form_for([@project,@todo]) do |f| %>
  <p>
    <%= f.label "目标" %><br>
    <%= f.text_field :goal %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back',  project_todo_path(@project,@todo) %>

