<h2><%= @todo.goal %></h2>
<p>负责人: <%= @todo.user.email %></p>

<hr/>

<h4>评论: </h4>
<%= render @todo.comments %>

<hr/>

<h4>添加评论</h4>
<%= render "comments/form" %>

<hr/>

<p> 
  <%= link_to 'Back', project_path(@project) %>
  | <%= link_to 'Edit', edit_project_todo_path(@project,@todo) %>
</p>
<p>
<%= link_to 'Destroy', project_todo_path(@project,@todo),
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
</p>

